<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
</head>
<body>
    <p>Current Balance: {{ balance }}</p>
    <a href="/machine/{{ user_id }}/withdraw.html" target = "_blank"><button>Withdraw</button></a>
    <a href="/machine/{{ user_id }}/deposit.html" target = "_blank"><button>Deposit</button></a>
</body>
</html>
