<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if error%}
        <p style="color: red;">Enter a valid amount</p>
        <form action="{{main_url}}" method = "post">
            {% csrf_token %}
            <fieldset>
                <legend>DEPOSIT</legend>
                <label for = "balance">Deposit Amount</label>
                <input type="text" id = "balance" name="balance" value="{{amount}}">
                <button type="submit">SUBMIT</button>
            </fieldset>
        </form>
    {% else %}
        <form action="{{main_url}}" method = "post">
            {% csrf_token %}
            <fieldset>
                <legend>DEPOSIT</legend>
                <label for = "balance">Deposit Amount</label>
                <input type="text" id = "balance" name="balance">
                <button type="submit">SUBMIT</button>
            </fieldset>
        </form>
    {% endif %}
</body>
</html>