<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'atm:login' %}" method="post">

        {% csrf_token %}
        <fieldset>
            <legend>BANK</legend>
            <label for="email_id">Email</label><br>
            <input type="text" id="email_id" name="email_id"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>
        </fieldset>
        <input type="submit">
        <p>Not a Member?<a href="/atm/signup"><b>SIGNUP</b></a></p>
    </form>
</body>
</html>